<a href="https://colab.research.google.com/github/Dong2Yo/DATA3550_1232/blob/main/Lectures/Chp1_1_InCLass_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Hello
print('Hello')

Hello

In [ ]:
# @title More print statement.
print('3 2 1 Go!')

3 2 1 Go!

In [ ]:
# @title Graph?
print('*****')
print('*   *')
print('*****')
print('*   *')
print('*****')

*****
*   *
*****
*   *
*****

In [ ]:
# @title Print statements in one line.
# Including end=' ' keeps output on same line
print('Hello there.', end=' ')
print('My name is...', end=' ')
print('Carl?')

Hello there. My name is... Carl?

In [ ]:
# @title Print a variable.
wage = 20

print('Wage is', end=' ')
print(wage)  # print variable's value
print('Goodbye.')

Wage is 20
Goodbye.

In [ ]:
# @title Start a new line.
print('1\n2\n3')

1
2
3

In [ ]:
# @title Spacing?
print('123')
print()
print('abc')

123

abc

In [2]:
# @title User input
print('Enter name of best friend:', end=' ')
best_friend = input()
print('My best friend is', best_friend)

Enter name of best friend: Mary
My best friend is Mary

In [ ]:
# @title Change data types.
my_string = '123'
my_int = int('123')

print(my_string)
print(my_int)

123
123

In [ ]:
# @title More user input.
print('Enter wage:', end=' ')
wage = int(input())

new_wage = wage + 10
print('New wage:', new_wage)

Enter wage: 34
New wage: 44

In [ ]:
# @title More.
hours = 40
weeks = 50
hourly_wage = int(input('Enter hourly wage: '))

print('Salary is', hourly_wage * hours * weeks)

Enter hourly wage: 12
Salary is 24000

In [ ]:
# @title What about this?
dog_years = int(input('Enter age of dog (in years): '))
print()

human_years = 7 * dog_years

print(dog_years, 'dog years is about', end=' ')
print (human_years, 'human years.')

Enter age of dog (in years): 44

44 dog years is about 308 human years.

In [ ]:
# @title Print concatenation.
num1 = int(input())
num2 = int(input())
print(num1 + num2)

2
3
5

In [ ]:
# @title Calculation
user_num_1 = int(input())
user_num_2 = int(input())
user_num_3 = int(input())

print(user_num_1 * user_num_2 * user_num_3)

2
3
5
30

In [ ]:
# @title Print a string statement.
print('This dinner is satisfying.')

This dinner is satisfying.

In [ ]:
# @title What is the output?
print('Current salary is', end=' ')
print(45000)

print('Enter new salary:', end=' ')
new_sal = int(input())

print(new_sal)
print(user_num)

In [ ]:
# @title Issue for user input
print('Salary is', end=' ')
print(20 * 40 * 50)

print('Enter integer: ', end=' ')
user_num = int(input())
print(user_num)

Salary is 40000
Enter integer:  ff

ValueError: invalid literal for int() with base 10: 'ff'

In [4]:
# @title Error?
current_salary = int(input('Enter current salary:'))

raise_percentage = 5  # Logic error gives a 500% raise instead of 5%.
new_salary = current_salary + (current_salary * raise_percentage)
print('New salary:', new_salary)

Enter current salary:34000
New salary: 204000

In [5]:
# @title What are the codes?
# @title num_beans = 500
# @title num_jars = 3
# @title total_beans = 0

num_beans = 500
num_jars = 3
total_beans = 0

print(num_beans, 'beans in', end=' ')
print(num_jars, 'jars yields', end=' ')
total_beans = num_beans * num_jars
print('total_beans', 'total')

500 beans in 3 jars yields total_beans total

In [7]:
# @title What are the codes?
print('Predictions are hard.')
print('Especially about the future.')
user_num = 5
print('user_num is:''', user_num)

Predictions are hard.
Especially about the future.
user_num is: 5

In [ ]:
# @title Fun example
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)

0
But I don't want ANY spam!
Spam Spam Spam Spam