<a href="https://colab.research.google.com/github/Dong2Yo/DATA3550_1232/blob/main/Lectures/Day1_datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types
In this unit, the *primitve* data types are discussed.
## Primitive Data Types
In Python, as in most other programming languages, each variable and each expression has a *data type*. In the previous Jupyter Notebooks we have already used a number of these *data types*, without explicitly mentioning them. For example, the following expression contains two values, which have the *data type* `Integer`, the result has the same data type, i.e. `Integer`.

In [ ]:
1 + 2

3

Python distinguishes between *primitive* and *complex* data types. In this Notebook we will introduce the
different primitive data types. These are shown in the following table:

| Description       | Python data type | Example values |
| ----------------- | ---------------- | -------------- |
| Integer numbers   | `Integer`        | 42, 0, -11     |
| Decimal numbers   | `Float`          | 2.0, -3.14     |
| Logical values    | `Boolean`        | True, False    |
| Character strings | `String`         | "Hello world"  |

The built-in Python function
`type()` ([Python documentation: type](https://docs.python.org/3/library/functions.html#type))
can be used to determine the data type of an expression. In the following cell, the function `type()` is used to output
the data type of the values *41*, *-3.14*, *True* and *"Hello World"*.

In [ ]:
print(type(42))
print(type(-3.14))
print(type(True))

s = "Hello World"
print(type(s))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

A short explanation of the notation of `print(type(42))`: Here the two functions `print()` and `type()` are nested into
each other. That means, `type()` receives the 42 as input value. `type()` now generates some output value. This output
now serves as input to `print()`. The output of the `print()` function is that `<class 'int'>` is finally printed below the cell.

Functions can be nested inside each other. They are then called from inside out. The return value of the inner function serves as an input argument for the outer function. It is possible, to have several levels of nesting. However, the statements become less readable and less understandable.

## Integer
The first primitive data type we will discuss in detail is the data type `Integer`. The `Integer` data type is used to
represent [integers](https://en.wikipedia.org/wiki/Integer). The value range of the data type thus includes the numbers
..., -3, -2, -1, 0, 1, 2, 3, ... (i.e. $\mathbb{Z}$)

It is important to note that the range of `Integer` values in Python is only limited by the available internal memory of
the computer. Thus, calculations with very large numbers can be performed with Python. In the following cell you can see
some examples for the data type `Integer`. Test some numbers by yourself!

In [ ]:
print(type(2))
print(type(-5))

x = 10000000000000000000000000000000000000
print(type(x))

x_squared = x * x
print(x_squared)
print(type(x_squared))

<class 'int'>
<class 'int'>
<class 'int'>
100000000000000000000000000000000000000000000000000000000000000000000000000
<class 'int'>

## Float
In contrast to the data type `Integer`, the data type `Float` is used to represent [floating point
numbers](https://en.wikipedia.org/wiki/Floating-point_arithmetic). Decimal places are separated by a dot (`.`). As shown
in the following cell, the data type `Float` also supports the exponential notation. The notation 6.62e-34 represents the
number $ 6.62 * 10^{-34} $.

In [ ]:
print(type(0.1))
print(type(0.0))

h = 6.63e-34  # https://en.wikipedia.org/wiki/Planck_constant
print(h)
print(type(h))

g = 1e100  # https://en.wikipedia.org/wiki/Googol
print(g)
print(type(g))

<class 'float'>
<class 'float'>
6.63e-34
<class 'float'>
1e+100
<class 'float'>

## Operations
The following table has already been shown in the unit about variables. Once again  take a look from the data type point of view.

| Description      | Operator | Example  | Result             |
| ---------------- | -------- | -------- | ------------------ |
| Addition         | +        | 2 + 3    | 5                  |
| Subtraction      | -        | 2 - 3    | -1                 |
| Multiplication   | *        | 2 * 3    | 6                  |
| Division         | /        | 7 / 3    | 2.3333333333333335 |
| Integer division | //       | 7 // 3   | 2                  |
| Modulo           | %        | 7 % 3    | 1                  |
| Exponentiation   | **       | 2 ** 0.5 | 1.4142135623730951 |

As you can see, most of the operations have two integers as input an lead to the data type integer as output. Only the division `\` returns the data type float. As can be seen in the last example, combinations of integer and float are possible as well. In the given case they result in the data type float.

## Exercise
Test different operations for the data types `Integer` and `Float`. Use the function `type()` to determine the data type
of a variable.

Which data type is created when an `Integer` value is combined with a `Float` value using an operator? Will operations with `Integer` values always result in an `Integer` value?

In [ ]:
integer_value = 5
print(type(integer_value))

float_value = 6.78
print(type(float_value))

combinated_value = integer_value + float_value
print("The combined value's type is:", type(combinated_value))

# More values for experimentations:
print(-12345678900000000000.0)
print(3 / 1)
print(2e306 * 10)

<class 'int'>
<class 'float'>
The combined value's type is: <class 'float'>
-1.23456789e+19
3.0
2e+307

## Accuracy of operations on 'float' values
Execute the calculations in the following two cells.

Are the calculated results correct? What could be the cause of these results?

In [ ]:
a = 0.1
b = 0.2

sum = a + b
print(sum)

0.30000000000000004

In [ ]:
root_of_2 = 2 ** 0.5

two = root_of_2 ** 2
print(two)

2.0000000000000004

Internally Python represents floating point numbers with a precision of 15 to 16 digits in the binary system
([IEEE_754](https://de.wikipedia.org/wiki/IEEE_754)). This representation allows to work with both very large and very
small numbers. However, rounding errors occur in certain cases. Some numbers cannot be represented precisely in the
binary system (similar to the number $1/3$ in the decimal system).

Some more examples of possible surprises when working with floating point numbers can be found in the
[Python Documentation](https://docs.python.org/3/tutorial/floatingpoint.html).

# More data types
## Boolean
Truth values are represented with the `Boolean` data type. The `Boolean` data type can only take two values: `True` or
`False`.

There is a set of special logical operators for the `Boolean` data type.

| Operator | Explanation | Example     |
| -------- | ----------- | ----------- |
| not      | Negation    | not y       |
| and      | Logical AND | x and y     |
| or       | Logical OR  | a or b or c |

### Exercise
In the following cell you will find some examples for the use of `Boolean` values. What happens when you combine a
`Boolean` value with an `Integer` value? What happens when you combine a `Boolean` value with a `Float` value? What
operators can you use for this? Of which data type is the result?

In [ ]:
print(False and False)
print(not False)

a = True
b = False

print("True and True: ", True and True)
print("a and b: ", a and b)
print("a or b: ", a or b)

print("Complex logical expression: ", a and (b or (True and False)))

False
True
True and True:  True
a and b:  False
a or b:  True
Complex logical expression:  False

## String
To process character strings, the `String` data type is used. Strictly speaking `String` is not a primitive data type, but
a [sequence data type](https://docs.python.org/3/library/stdtypes.html#typesseq). Since strings happen to occur very
often in simple programs, the data type `String` will be introduced nevertheless.

In Python, `Strings` can be created with either single or double quotes. There are subtle differences between the two
variations, which will not be discussed further at this point. We will prefer to use double quotes (`"`) when working
with `Strings`.

In the following cell you can see, that it is possible to use the `+` operator not only on integers (and floats) but as well on strings. Moreover, it is possible to multiply a string with an interger. What happens, if you multiply a string with a float?

In [ ]:
print(type("Hello World"))

a = "Hello"
b = "World"

print(a, b)
print(a + b)

print(3 * a)

<class 'str'>
Hello World
HelloWorld
HelloHelloHello

In [ ]:
a = 1
b = 2
print(a+b)

3

In [ ]:
a = "1"
b = "2"
print(a+b)

12

### String methods
There are a number of [methods]((https://docs.python.org/3/library/string.html).) in Python to process `Strings`.

A small selection of these methods is shown below:
* `.lower()`:    changes all upper case letters to lower case
* `.upper()`:    changes all lowercase letters to uppercase
* `.replace()`:  is used to replace a given sequence within a `String` with another one

#### Exercise
Test different operations for `Strings`.
What happens when you try to add a `string` and an `integer`?
Also use the above methods to manipulate `Strings`.

In [ ]:
a = "Ramones"
print(a.upper())

print("hitchhiker".replace("hi", "ma"))

RAMONES
matchmaker

#### Exercise
Ask the user to input two numbers (hint: use the function `input()`). Add up those numbers and print the result.

Which problem occurs? Of which data type are the read-in values?

In [ ]:
a = input("Please insert a number A: ")

# Please add your code in the following lines

b = input("Please insert a number B: ")

print(a + b)

Please insert a number A:  2
Please insert a number B:  5

25

**Input function comes back as string type.**

# Conversion
Operations on `Strings` sometimes lead to unexpected results. The attempt to add a `String` and an `Integer` leads to an
error message. The addition of two `Strings` causes both strings to be concatenated.

This is a common problem when working with user input. The data type of the input is always `String`. This may have to be
converted to a different data type before it can be used. For the conversion between the different data types, Python
provides a number of [built-in functions](https://docs.python.org/3/library/functions.html):

| Function | Explanation                                              | Example        |
| -------- | -------------------------------------------------------- | -------------- |
| int()    | Converts the passed parameter to the data type `Integer` | int("10")      |
| float()  | Converts the given parameter to the data type `float`    | float("3.14")  |
| bool()   | Converts the given parameter to the data type `Boolean`  | bool("Hello ") |
| str()    | Converts the given parameter to the data type `String`   | str(True)      |

## Exercise
Perform some conversions between the different data types. Analyze which data type and which value the result of the
conversion has. What happens when you concatenate different conversions?

In [ ]:
s = "Hello"
i = 2019
print(s + str(i))

print(bool(0))
print(bool(1))

print(int(bool(3)))

bool("")

Hello2019
False
True
1

False

In [ ]:
bool(" ")

True

## Converting and the function `input()`
As already mentioned, the result of the `input()` function is always a `String`. If you need another data type, you must
convert the input data at first. The necessary procedure is shown in the following cells.

In [ ]:
age = input("Please insert your age: ")
age = int(age)
print(age)
print(type(age))

Please insert your age:  56

56
<class 'int'>

In [ ]:
# Alternatively it is also possible to **nest** these functions
age = int(input("Please insert your Age: "))
print(type(age))

Please insert your Age:  34

<class 'int'>

### Exercise
Create a new version of the cuboid program that reads length, width and height via the input function.

**Notes:**
- In the function `print()` you can output several parameters. These must be separated by commas.
  Example: `print(a, b, c)`
- In the function `print()` you can also pass `Strings` directly as parameters. Example: `print("The result is:")`

### Exercise 2

Use the type() function to assign the type of the variable to `amount_us_presidencies`, then print it.

In [ ]:
amount_us_presidencies = 46
answer = #your function
print(answer)

In [ ]:
bool("false")

True